.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;

}

.App-header {
  background-color: #282c34;
  padding: 40px 0 20px 0;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white
}

.submitButton {
  margin-top: 20px;
}

.Users {
  color: white;
}

#goalWeight {
  margin-top: 20px;
}